.row
  .col-md-6
    img.img-responsive(src="http://placehold.it/1480x3508", style="max-height: 90vh; margin:auto")
  .col-md-5
    form.flex-col.mt-3.pr-3.pl-3
      input(type="text", placeholder="Necesitas un título descriptivo.")
      textarea.mt-3(placeholder="Puedes añadir un resumen más completo aquí. Con esto ayudaras a quién lo lea a hacerse una mejor idea de lo que pretendes conseguir.", style="height:6em;")

      .mt-3(style="display:flex;justify-content:flex-start;")
        input#tm-input(type="text", name="tags", placeholder="Tags", style="width:6em;")

      .mt-3
        a(href="#") Completa tu perfíl 
        span para incluir más datos que faciliten la clasificación y las búsquedas
