footer.page-footer.navbar.navbar-fixed-bottom
  div.container-fluid
    small
     p
       span.hidden-xs Copyleft&nbsp;
       span.copy-left &copy;
       span &nbsp;2017 Fundación Legado Educativo.
       span &nbsp;<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>



// i.fa.fa-creative-commons 2017 Fundación Legado Educativo
