//footer.page-footer.navbar.navbar-fixed-bottom.opaque
footer.page-footer.navbar-default.opaque
  span.hidden-xs Copyleft &nbsp;
  span.copy-left &copy;
  span.hidden-xs 2017 &nbsp;
  span.wd300.tooltipfy Fundación Legado Educativo
  span
    a(rel="license", href="http://creativecommons.org/licenses/by/4.0/", target="_blank")
      img.img-responsive(alt="Creative Commons License", src="https://i.creativecommons.org/l/by/4.0/80x15.png")

  button.btn.btn-default.scroll-to-top(href="#")
