main
  section
    article
      header
        h1 First Result
      p First content
      footer
        p Like
    article
      header
        h1 Second Result
      p Second content
      footer
        p Like
