doctype html
html(lang=en)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    title Educational Heritage - Prototypes
    link(href="/favicon.ico" rel="icon" type="image/x-icon")
    link(href="index.css", rel="stylesheet")
  body

    h1 Prototypes
    
    h2 Pages
    
    ul
      li
        a(href="page-landing.html") Landing
      li
        a(href="page-search-result.html") Search results
      li
        a(href="page-resource-create.html") Resources editor

    h2 Modals
    
    ul
      li
        a(href="page-login.html") Login
      li
        a(href="page-register.html") Register
      li
        a(href="page-resource-detail.html") Resource detail

        
  script(src="index.js")
  