doctype html
html(lang=es)
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    title Legado Educativo
    // script(src="script.js")
    // link(rel="stylesheet", href="style.css")
  body
    include pug/header.pug
    include pug/nav.pug
    include pug/main.pug
    include pug/footer.pug
