main.flex-col
  .modal-header
    button.close(type="button", data-dismiss="modal" aria-label="Close")
      span(aria-hidden="true") &times;
      span.sr-only Close

    h1.text-center Legado Educativo
  
  h2.text-center.mt-2 Bienvenido. Por favor introduce tus datos:
  
  form.flex-col.mt-2
    input.form-control(type="email", placeholder="nombre@ejemplo.com")
    input.form-control(type="password", placeholder="Contraseña")
    button.btn.btn-block.mt-1(type="submit") Entrar
  
  p.mt-3 O utiliza tus redes sociales preferidas:
  
  .flex-row.mt-3(style="justify-content:space-around;")
    img(src="png/pinterest.png", style="max-width:60px;max-height:60px;")
    img(src="png/dropbox.png", style="max-width:60px;max-height:60px;")
