main.flex-col
  .modal-header
    button.close(type="button", data-dismiss="modal" aria-label="Close")
      span(aria-hidden="true") &times;
      span.sr-only Close

    h1.text-center Legado Educativo
  
  h2.text-center.mt-2 Bienvenido. Por favor introduce tus datos:
  
  form.login-form.flex-col.mt-2
    input#login-email.form-control(type="email", placeholder="nombre@ejemplo.com")
    input#login-password.form-control(type="password", placeholder="Contraseña")
    button#login-btn.btn.btn-block.mt-1(type="button") Entrar
  
  p.text-center.mt-2: a(href="#") He olvidado mi contraseña
    
  p.text-center.mt-2: a(href="#") No tengo cuenta todavía
