- for (var i=0; i<10; i++)
  - var randomDate = new Date(+(new Date()) - Math.floor(Math.random()*1000000000))
  article.col-xs-6.col-sm-4.col-md-3.item
    .resource.thumbnail
      header.hidden-xs.caption
        h1.wd200.tooltipfy= "Titulo " + i
      if Math.round(Math.random() * 100) % 2 == 0
        img.img-responsive(src="http://placehold.it/148x210")
      else
        img.img-responsive(src="http://placehold.it/210x148")
      p.hidden-xs.caption.summary Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum odio blandit tellus auctor, sed tempor elit commodo.
      footer.hidden-xs.caption
        .author-info
          .author-photo
            img.img-responsive.img-rounded(src="http://placehold.it/60x60")
          .author-icons
            .author-icon
              span Nombre Apellido
              span.glyphicon.glyphicon-user
            .calendar-icon.text-left
              time.relative-date(pubdate="pubdate", datetime= randomDate)
              span.glyphicon.glyphicon-calendar
        .action-icons
          .pin-icon(resource-id= i)
            span.glyphicon.glyphicon-pushpin
            span.badge= Math.round(Math.random()*100)
          .comments-icon
            span.glyphicon.glyphicon-comment
            span.badge= Math.round(Math.random()*100)
