.modal-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    @media(min-width:768px){
	flex-direction: row;
	height: 90vh;
	width: 75vw;
    }
}

.detail-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}

.detail-comments {
    margin-left: 2em;
    padding-left: 2em;
    border-left: 1px solid #ccc;
    overflow: auto;
    width: 150%;
}

.detail-comments .comment {
    border: 0px solid #ccc;
    margin: 1em;
    padding: 1em;
}
