
// Disable main scroll when modal is opened
body.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.modal-detail {
}

.pd-2 {
    padding: 2em;
}

.modal-header {
    text-transform: uppercase;
}

.detail-comments {
    border-top: 1px solid #ccc;
    @media(min-width:768px){
	border-left: 1px solid #ccc;
	border-top: 0px solid #ccc;
    }
}

textarea#comment {
    width: 100%;
}

.mb-2 {
    margin-bottom: 2em;
}

#detail-comments {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#detail-comments > .items > .item {
    margin: 0.5em;
    padding: 0.5em;

    width: 100%;

    word-wrap: break-word;
}
