.tagmanagerTag {
    background: none repeat scroll 0 0 #efefef;
    border: 1px solid #999;
    border-radius: 3px;
    color: #999;
    display: block;
    float: left;
    font-size: 13px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 6px 5px 5px 5px;
    text-decoration: none;
    vertical-align: middle;
    line-height: 18px;
    height: 28px;
}
.tagmanagerRemoveTag {
    color: #999;
    padding-left: 8px;
}

.navbar-header {
    width:100%;
}
