.opaque {
    background-color: #fff;
}

.page-footer {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-left {
    transform: scaleX(-1);
    filter: FlipH;
}
