
.summary {
    display: block;
    display: -webkit-box;
    height: 16*1.4*3+8px;
    font-size: 16px;
    line-height: 1.4;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:wrap;
    max-width: 300px;
}

.author-info {
    display: flex;
}

.author-icons {
    flex:2;
    display:flex;
    flex-direction: column;
}

.author-icon {
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.calendar-icon {
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.action-icons {
    display:flex;
    align-items:center;
    justify-content:space-around;
    margin-top:15px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
