.scroll-to-top {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 40px;
    right: 40px;
    display: none;
    background: url('http://i1155.photobucket.com/albums/p559/scrolltotop/arrow5.png') no-repeat;
    background-position: center center;
    background-color: #fff;
}
